- provide(:title, "About")

%h1= t('.about_title')

.about-copy
  %h1.list
    Приложение Expertise предназначено для сбора оценок предпочтений пользователей.
    %br
    Пользователи выступают в роли экспертов. Их мнение крайне важно для экспертного сообщества.
    %br
    На основе частных мнений экспертов вычисляется средняя квалифицированная оценка.
    %br
    Собранные в данном приложении данные представляют интерес как для самих экспертов,
    так и для сторонних организаций и пользователей, занятых, например, в сфере маркетинга и изучения рынков.
  -#%p
  -#  A few reasons why this product is worth using, what it is for and why you need it.
  -#  %br
  -#  First wide reason and second short reason.
