- provide(:title, "Help")

.about-app
  - if signed_in?
    %h1.about-app-title
      Уважаемый пользователь  #{@current_user.name.inspect} !
      -##{@current_user.email.inspect}

  %h2
    Пользовательский интерфейс Expertise построен по принципу "одностраничного приложения".
    %br
    Это существенно упрощает взаимодействие пользователей с приложением.
  %br
  %h2
    Основные шаги.
  %div.about-app-content
    %div
      1. Регистрация нового пользователя. Это необходимо для получения доступа к сервису.
    %div
      2. Если пользователь зарегистрирован, то ему необходимо войти на сайт - sign in.
    %div
      3. Прежде всего нужно выбрать тему, по которой пользователь намерен оставить свои оценки. Выбрав тему из списка, пользователь получает доступ к списку изображений.

    %div
      4. Пользователь оценивает предъявляемые на экране изображения, выбирая желаемое значение на шкале оценок.
    %div
      5. На экране отображается усредненная оценка всех экспертов, участвовавших в опросе по данному изображению на выбранную тему. А также общее количество всех оценок на сайте.
    %div
      6. Имеется возможность просмотра итоговых оценок по всем изображениям на выбранную тему.
