- content_for(:title,  "Index")

%h1
  -#Experteese - sample App



-#.main_page
-#= image_tag("logo/square/with_title.svg",   {:width => "80", :height =>"80", :class => "opinion_image_preview ttip", title: "Предварительный просмотр"})

-#%i.fa.fa-flag{ style: "color: #730E15; font-size: 2em; position: relative; left: 25%;" }
-#= icon('flag', class: 'strong')
.center.jumbotron
  %h1
    Welcome.
    %br
    To continue - press:
  - if signed_in?
    = link_to "Application", work_path, class: "btn app-button"
  - else
    = link_to "Sign up", signup_path, class: "btn app-button"


-#.app_notice
-#  = render 'main/app_dev_notice'


-#
-#= link_to image_tag("rails.png", alt: "Rails logo"), |
-#  'http://rubyonrails.org/'
