@import "mixins"

.footer
  background: rgba($sea, 0.8)
  width: 100%
  color: $white
  margin: auto
  padding: 15px
  box-sizing: border-box
  font-family: 'Poiret One', cursive
  &__copyright
    text-align: center
    font-size: 20px
